{{!-- <ul id="messages"></ul>
<form id="form">
  <input id="message" autocomplete="off" value="" type="text" placeholder="Typ je bericht" />
  <input type="submit">Send</input>
</form> --}}

<section class="login-screen">
  <form id="login">
    <input type="text" id="player" value="" placeholder="your name" />
    <input type="text" id="color" value="" placeholder="your color" />

    <input type="submit" value="verzend" />

  </form>
</section>
<canvas id="canvas"></canvas>