<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Real Time Web</title>
  <link rel="stylesheet" href="/min-main.css" />
  {{!-- <link href="https://fonts.googleapis.com/css?family=Poppins" rel="preconnect" /> --}}
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
  <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
</head>

<body>
  <main>
    <section class="content">
      {{{body}}}
    </section>
  </main>

  {{!-- <script src="/socket.io/socket.io.js"></script> --}}
  {{!-- <script src="/scripts/index.js"></script> --}}
</body>

</html>