<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Real Time Web</title>
  <link rel="stylesheet" href="/min-main.css" />
  {{!-- <link href="https://fonts.googleapis.com/css?family=Poppins" rel="preconnect" /> --}}
  <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <main>
    <section class="content">
      {{{body}}}
    </section>
  </main>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/scripts/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

</body>

</html>